<div class="containerdiv">
  <form #inputForm="ngForm" (ngSubmit)="inputForm.valid && addCountry()">
    <mat-form-field>
      <input matInput placeholder="Country Name" required [(ngModel)]="country.name" name="country"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country Residents" required [(ngModel)]="country.residents" name="country"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country Capital" required [(ngModel)]="country.capital" name="country"/>
    </mat-form-field>
    <button mat-button class="mat-raised-button" type="submit" >Add Country</button>
  </form>

  <form #searchForm="ngForm" (ngSubmit)="searchForm.valid && searchDB()">
    <mat-form-field>
      <input matInput placeholder="Country Name" required name="search" [(ngModel)]="searchString"/>
    </mat-form-field>
    <button mat-button class="mat-raised-button" type="submit">Search for Country</button>
  </form>

  <button mat-button class="mat-raised-button" (click)="getAllFromDB()">Get All from DB</button>

  <form #deleteForm="ngForm" (ngSubmit)="deleteForm.valid && deleteCountry()">
    <mat-form-field>
      <input matInput placeholder="Country Name" name="delete" required [(ngModel)]="deleteString"/>
    </mat-form-field>
    <button mat-button class="mat-raised-button" type="submit">Delete Country</button>
  </form>
</div>
