<div class="containerdiv">
  <form id = "inputform" [formGroup] = 'countryForm' novalidate (ngSubmit)="countryForm.valid && addCountry()">
    <mat-form-field>
      <input matInput placeholder="Country Name" id="country" formControlName='name' [(ngModel)]="country.name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country Residents" id="residents" formControlName='residents' [(ngModel)]="country.residents"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country Capital" id="capital" formControlName='capital' [(ngModel)]="country.capital"/>
    </mat-form-field>
    <button mat-button class="mat-raised-button" type="submit" >Add Country</button>
  </form>

  <form [formGroup]='searchForm' novalidate (ngSubmit)="searchForm.valid && searchDB()">
    <mat-form-field>
      <input matInput placeholder="Country Name" id="search" formControlName="search" [(ngModel)]="searchString"/>
    </mat-form-field>
    <button mat-button class="mat-raised-button" type="submit">Search for Country</button>
  </form>

  <button mat-button class="mat-raised-button" (click)="getAllFromDB()">Get All from DB</button>

  <form [formGroup]='deleteForm' novalidate (ngSubmit)="searchForm.valid && deleteCountry()">
    <mat-form-field>
      <input matInput placeholder="Country Name" id="delete" formControlName="delete" [(ngModel)]="deleteString"/>
    </mat-form-field>
    <button mat-button class="mat-raised-button" type="submit">Delete Country</button>
  </form>
</div>
